*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
nav{
    height: 70px;
    display: flex;
    flex-direction: row;
    background-color: #2fa5fd;
}
.logo-container, .user-forms-container{
    width: 50%;
    height: 70px;
    display: flex;
    font-size:x-large;
}
.user-forms-container{
    justify-content: end;
}
.logo, .register{
    height: 70px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.logo, .register{
    padding: 0 40px;
}
nav a{
    text-decoration: none;
    color: black;
}
.logo:hover, .register:hover{
    background-color: #0067a4;
    color: white;
}
article{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    height: calc( 100vh - 70px);
}
.login-form{
    width: fit-content;
    height: fit-content;
    padding: 60px 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 1px 1px 20px #0067a4;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.login-form h1{
    margin-bottom: 30px;
    color: #0067a4;
}
form input{
    width: 100%;
    border-radius: 5px;
    border: none;
    margin: 15px 0;
    height: 30px;
    transition: 0.3s;
    width: 300px;
}
form input:not(:last-child){
    border: 1px solid #0067a4;
}
form input[type="submit"]{
    background-color: #2fa5fd;
}
form input[type="submit"]:hover{
    background-color: #0067a4;
    color: white;
}