*{
    box-sizing: border-box;
    margin: 0;
    font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
}
body{
    height: 100%;
    width: 100%;
}
nav{
    padding: 0 10vw;
    height: 85px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.logo-container, .user-forms-container{
    width: 50%;
    height: 70px;
    display: flex;
    font-size:x-large;
}
.user-forms-container{
    justify-content: end;
}
.login, .register{
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.login p, .register p{
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: 0.5s;
    padding-bottom: 5px;
}
.logo{
    padding: 0 40px;
}
img{
    max-height: 70px;
}
.login, .register{
    padding: 0 20px;
}
nav a{
    text-decoration: none;
    color: black;
}
.login:hover p, .register:hover p{
    border-color:  #0067a4;
}
main{
    display: flex;
    justify-content: center;
}