{% extends "base.html" %}
{% block title%}
{% endblock title%}
    {% block content%}
    <button id="showCalendarButton">+</button>
    <form action="" id="calendarRequestForm" style="display: none;">
        <input type="text" name="" id="" placeholder="Topic">
        <input type="date" name="" id="" placeholder="Day">
        <input type="time" name="" id="" placeholder="Time">
        <input type="text" name="" id="" placeholder="Description">
        <select name="" id="">
                <!-- Tu bedzie skrypt -->
        </select>
        <input type="submit">
    </form>
    <table class="w-100">
        <thead>
            <tr>
                <td>Poniedziałek</td>
                <td>Wtorek</td>
                <td>Środa</td>
                <td>Czwartek</td>
                <td>Piątek</td>
            </tr>
        </thead>
        <tbody class="week" class="w-100 justify-content-space-around">
        </tbody>
    </table>
    <p id="userDATA">{{user.id_user}}</p>
    <button onclick="prevWeek()">[PREV]</button>
    <button onclick="nextWeek()">[NEXT]</button>
    <script src="../static/js/events.js"></script>

    <!-- 
        tutaj bedzie if
     -->
    
    {% endblock content%}
    
</html>