           {% extends "base.html"%}
           {% block title%}
           <title>Home</title>
           {% endblock title%}
           {% block navopt %}
            <a href="/login">
                <div class="NavElement text-dark">
                    <p>
                        Log in
                    </p>
                </div>
            </a>
            <a href="register">
                <div class="NavElement pl-3 text-dark">
                    <p>
                        Register
                    </p>
                </div>
            </a>
            {% endblock navopt %}

        {% block content %}
        <main>
        <h2>
            <p>
                Strona główna 😊
            </p>
        </h2>
    </main>
        {% endblock content %}