<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="Project, Project Managment">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../static/css/style.css">
    <title>Home</title>
</head>

<body>
    <nav>
        <div class="logo-container">
            <a href="#">
                <img src="../static/graphics/logo_diminuendo.png" alt="logo Poznań Supercomputing and Networking Center">
            </a>
        </div>
        <div class="user-forms-container">
            {% if not user.is_authenticated %}
            <a href="/login">
                <div class="login">
                    <p>
                        Log in
                    </p>
                </div>
            </a>
            <a href="/register">
                <div class="login">
                    <p>
                        Register
                    </p>
                </div>
            </a>
            {% else %}
            <a href="/logout">
                <div class="login">
                    <p>
                        Log out
                    </p>
                </div>
            </a>
            {% endif %}
        </div>
    </nav>
    <main>
        <h2>
            <p>
                {% if user.is_authenticated %}
                <p>Welcome, {{ user.fname }}!</p>
                {% else %}
                <p>You are not logged in.</p>
                {% endif %}
            </p>
        </h2>
    </main>
</body>

</html>