<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="Project, Project Managment">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/home.css">
    <title>Home</title>
</head>

<body>
    <h1>Welcome to Diminuendo!</h1>
    <a href="login">KLIK MNIE</a>
    <a href="home">KLIK MNIE2</a>
    <a href="register">KLIK MNIE</a>
</body>

</html>