<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="Project, Project Managment">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/home.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <div class="logo-container">
            <a href="/">
                <div class="logo">
                    Logo
                </div>
            </a>
        </div>
        <div class="user-forms-container">
            <a href="Login">
                <div class="login">
                    Log in
                </div>
            </a>
            <a href="register">
                <div class="register">
                    Register
                </div>
            </a>
        </div>
    </nav>
    <article>
        
    </article>
</body>
</html>