<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="Project, Project Managment">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/register.css">
    <title>Register</title>
</head>
<body>
    <nav>
        <div class="logo-container">
            <a href="/">
                <div class="logo">
                    Logo
                </div>
            </a>
        </div>
        <div class="user-forms-container">
            <a href="Login">
                <div class="login">
                    Log in
                </div>
            </a>
        </div>
    </nav>
    <article>
        <div class="register-form">
            <form method="POST">
                {% csrf_token %}
                {{form}}
                <button type="submit">Register</button>
            </form>
        </div>
    </article>
</body>
</html>