{% extends "home.html" %}


{% block title %}
<script src="../static/js/validateForm.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {

        const form = document.querySelector('.registration-form');
        formFields = document.querySelectorAll('.registration-form input');
        for (const field of formFields) {
            field.addEventListener('input', () => {
                validateField(field);
            });
        }

        form.addEventListener('submit', (event) => {
            event.preventDefault();

            let formData = new FormData(form);
            formData = Object.fromEntries(formData.entries());
            const csrfToken = getCSRFToken();

            fetch('/api/user/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                },
                body: JSON.stringify(formData),
            })
                .then(response => {
                    if (response.ok) {
                        return response.json().then(formData => {
                            console.log(formData['msg']);
                            window.location.href = '/resend-verification-message/';
                        });
                    } else {
                        return response.json().then(errorData => {
                            const errorCount = Object.keys(errorData)[0].length;

                            const errorKey = Object.keys(errorData)[0];
                            const errorValue = errorData[errorKey][0];
                            validateErrorIncomingFromServer(errorKey, errorValue);

                            console.error('Validation errors:', errorData);
                            throw new Error('Accounts creation failed');
                        });
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    });
</script>
<title>Register</title>
{% endblock title %}

{% block navopt %}
<a href="/login"  style="text-decoration-line: none;">
    <div class="text-dark">
        <p onmouseout="this.style.borderBottom='2px solid rgba(0, 0, 0, 0)';" onmouseover="this.style.borderBottom='solid 2px rgba(0, 103, 164, 1)';"style="font-size: x-large;">
            Log in
        </p>
    </div>
</a>
{% endblock navopt %}

{% block content %}
<div id="CustomForm">
    <h1>Register</h1>
    <form method="post" class="registration-form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="error-block fname hidden">

        </div>
        <input type="text" name="fname" id="fname" placeholder="First Name" required><br>
        <div class="error-block lname hidden">

        </div>
        <input type="text" name="lname" id="lname" placeholder="Last name" required><br>
        <div class="error-block email hidden">

        </div>
        <input type="email" name="email" id="email" placeholder=e-mail required><br>
        <div class="error-block password hidden">

        </div>
        <input type="password" name="password" id="password" placeholder="Password" required><br>
        <div class="error-block password hidden password_verify">

        </div>
        <input type="password" name="password_verify" id="password_verify" placeholder="Repeat password"><br>
        <input type="submit" value="Register">
    </form>
</div>
{% endblock content %}
