{% extends "base.html"%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="Project, Project Managment">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/form.css">
    <script src="../static/js/register.js"></script>
    <title>Register</title>
</head>

<body>
    <nav>
        <div class="logo-container">
            <a href="/">
                <img src="../static/graphics/logo_diminuendo.png" alt="logo Poznań Supercomputing and Networking Center">
            </a>
        </div>
        <div class="user-forms-container">
            <a href="/login">
                <div class="login">
                    <p>
                        Log in
                    </p>
                </div>
            </a>
        </div>
    </nav>
    <article>
        <div class="form">
            <h1>Register</h1>
            <form method="post" id="registration-form">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="text" name="fname" id="fname" placeholder="name"><br>
                <input type="text" name="lname" id="lname" placeholder="last name"><br>
                <input type="email" name="email" id="email" placeholder=email><br>
                <input type="password" name="password" id="password" placeholder="password"><br>
                <!-- <input type="password" name="password" id="password" placeholder="password"><br> -->
                <input type="submit" value="Register">
            </form>
        </div>
    </article>
</body>

</html>