<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="Project, Project Managment">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/register.css">
    <title>Log in</title>
</head>
<body>
    <nav>
        <div class="logo-container">
            <a href="/">
                <div class="logo">
                    Logo
                </div>
            </a>
        </div>
        <div class="user-forms-container">
            <a href="Login">
                <div class="login">
                    Log in
                </div>
            </a>
        </div>
    </nav>
    <article>
        <div class="register-form">
            <h1>Register</h1>
            <form action="" method="post">
                <input type="text" name="firstName" id="firstName" placeholder="name"><br>
                <input type="text" name="lastName" id="lastName" placeholder="last name"><br>
                <input type="email" name="email" id="email" placeholder=email><br>
                <input type="password" name="password" id="password" placeholder="password"><br>
                <input type="password" name="password" id="password" placeholder="password"><br>
                <input type="submit" value="Register">
            </form>
        </div>
    </article>
</body>
</html>