<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="Project, Project Managment">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/form.css">
    <script src="../static/js/validateForm.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            

            
            const form = document.querySelector('#resend-email-form');
            formFields = document.querySelectorAll('#resend-email-form input');
            for (const field of formFields) {
                field.addEventListener('input', () => {
                    validateField(field);
                });
            }

            form.addEventListener('submit', (event) => {
                event.preventDefault();
                

                const messageContainer = document.querySelector('.message-container');
                let formData = new FormData(form);
                formData = Object.fromEntries(formData.entries());
                console.log(formData);
                const csrfToken = getCSRFToken();
                
                fetch('/resend-verification-email/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                    },
                    body: JSON.stringify(formData),
                })
                    .then(response => {
                        if (response.ok) {
                            return response.json().then(formData => {
                                messageContainer.innerHTML = formData['msg'];
                            });
                        } else {
                            return response.json().then(errorData => {
                                const errorCount = Object.keys(errorData)[0].length;

                                const errorKey = Object.keys(errorData)[0];
                                const errorValue = errorData[errorKey][0];
                                validateErrorIncomingFromServer(errorKey, errorValue);

                                console.error('Validation errors:', errorData);
                                throw new Error('Accounts verification failed');
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        });
    </script>
    <title>Register</title>
</head>

<body>
    <nav>
        <div class="logo-container">
            <a href="/">
                <img src="../static/graphics/logo_diminuendo.png"
                    alt="logo Poznań Supercomputing and Networking Center">
            </a>
        </div>
        <div class="user-forms-container">
            <a href="/login">
                <div class="login">
                    <p>
                        Log in
                    </p>
                </div>
            </a>
        </div>
    </nav>
    <article>
        <div class="form">
            <h1>Verify your email</h1>
            <h2>Check your inbox</h2>
            <div class="message-container"></div>
            <form method="post" id="resend-email-form">
                {{ form.as_p }}
                {% csrf_token %}
                <div class="error-block email hidden"></div>
                <input type="email" name="email" id="email" placeholder=e-mail required><br>
                <input type="submit" value="Resend link">
            </form>
        </div>
    </article>
</body>

</html>